@charset "utf-8";
/* CSS Document */
:root {
	--yellow: #C17E37;
	--white: #fff;
	--black: #333;
	--grey: #777;
	--ttl: #F8D570;
	--skyblue: #5488E9;
}

* {
    box-sizing: border-box;
}
/*-----l Banner section----*/
.l-banner {
	height: 350px;
	background-color: white;
	display: flex;
	justify-content: left;
	align-items: center;
	background: url("../image/thatlung.jpg");
	box-shadow: inset 0 0 1 2000px rgb(0,0,0,3);
	background-position: center;
	background-size: cover;
	text-align: left;
	padding: 0 1rem;
}
.l-banner-info {
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--white);
	
}

/*-----l Banner section----*/
/*-----aboutlaos section----*/
.tab1 {
	tab-size: 4;
}
.l-blog {
	background: var(--ttl);
	height: auto;
	padding: 2rem 0;
}
.lao-blog-con {
	
	display: grid;
	background: var(--ttl);
	background-size: cover;
	align-items: center;
}
.lao-blog-post {
	margin: 1rem 2;
	justify-content: space-between;
	
}
.lao-blog-post p a {
	text-decoration: none;
	color: var(--black)
}
.lao-blog-post h3 {
	padding: 0.5rem 0;
	color: var(--black);
}
.lao-blog-post p {
	padding: 0.5rem 0;
}

.img-con {
	padding: 1rem 0;
}
.img-con img {
	width: 220px;
	height: 160px;
}
/*-----aboutlaos section----*/

/*-----Others section----*/
/*----blog section----*/
.others-blog {
	background: var(--black);
	height: auto;
	color: var(--white);
	padding: 2rem 0;
}
.ot-blog-tiltle {
	text-align: center;
}
.blog-title h3 {
	color: var(--white);
	font-size: 2rem;
	
}
.ot-blog-title p {
	color: var(--yellow);
	font-size: 1.2rem;
	
}
.ot-blog-post-con {
	margin: 1rem 0;
	display: grid;
	grid-gap: 0.5rem;
	align-items: center;
}
.ot-blog-post {
	display: block;
	margin: 1rem;
	padding: 0.2rem 1rem;
	
}
.ot-blog-post img {
	width: 250px;
	height: 130px;
	border-bottom: 5px solid var(--yellow);
	border-top: 5px solid var(--yellow);
	
}
.ot-blog-post h3 {
	font-size: 1.1rem;
	margin: .7rem 0;
}
.ot-blog-post p {
	padding: 0.2rem;
	color: var(--white);
}
.ot-blog-post p a {
	color: var(--white);
}

/*----Blog section----*/
/*-----Others section----*/



/*-----hobbies section----*/
.hb-cta {
	height: 300px;
	background: url("../image/taylor-D9_QOTmbFAg-unsplash.jpg");
	background-size: cover;
	background-position: center;
	
}
.hb-cta-con {
	display: flex;
	justify-content: space-between;
	height: 300px;
	align-items: center;
}
.hb-cta-title {
	font-size: 3rem;
	color: var(--white);
	
}
.hb-blog-post-con {
	margin: 1.5rem 0;
	display: grid;
	grid-template-columns: repeat(2,3fr);
	grid-gap: 0.5rem;
	align-items: flex-start;
}
.hb-blog {
	background: var(--black);
	color: var(--white);
	height: auto;
	padding-top: 1.5rem;
	padding-bottom: .5rem;
	
}


/*-----hobbies section----*/





/*-----Blog main section----*/
.blog2-cta {
	height: 300px;
	background: url("../image/rachel-park-hrlvr2ZlUNk-unsplash.jpg");
	background-size: cover;
	background-position: center;
	
}
.bl2-cta-con {
	display: flex;
	justify-content: space-between;
	height: 300px;
	align-items: center;
}
.bl2-cta-title {
	font-size: 3rem;
	color: var(--yellow);
	
}

/*-----Blog main section----*/
/*-----Blog section----*/
.blog2 {
	background: #F0E3D4;
	color: var(--yellow);
	height: auto;
	padding: 2rem 0;
}
.blog2-tiltle {
	text-align: center;
}
.blog2-title h3 {
	color: var(--yellow);
	font-size: 2rem;
	
}
.blog2-title p {
	color: var(--yellow);
	font-size: 1.2rem;
	
}
.blog2-post-con {
	margin: 2rem 0;
	display: grid;
	grid-template-columns: repeat(1,3fr);
	grid-gap: 0.5rem;
	
}
.blog2-post {
	display: block;
	margin: 1rem 0.5rem;
	padding: 0.2rem 0;
	
}
.blog2-post img {
	width: 300px;
	height: 250px;
	border-bottom: 5px solid var(--yellow);
	border-top: 5px solid var(--yellow);
	
}
.blog2-post h3 {
	color: var(--yellow);
	font-size: 1.1rem;
	margin: .7rem 0;
}


/*-----Blog section----*/


